<ion-view title="">
	<ion-content padding="'true'" class="has-header vertical-align-content">
		<ion-list>
			<div class="card">
				<ion-item class="item-divider text-center">Order Status</ion-item>
				<img id="stat" src="" 
					style="width:110px;
					height:100px;
					margin-left:auto;
					margin-right:auto;
					display:block;
					margin-top: 10px;
					margin-bottom: 10px;" />
				<div class="item text-center">
					{{msg}}
				</div>
			</div>
			<!--<a href="#" class="button button-assertive button-block icon-left ion-close-round">Cancel Order</a>-->
		</ion-list>
	</ion-content>
</ion-view>