<ion-view title="">
	<ion-content padding="'true'" class="has-header">
		<ion-list>
			<ion-item class="item-divider">Your Account Details</ion-item>
			<label class="item item-input"> <span class="input-label">Email Address</span>
				<textarea placeholder="" readonly> {{" "+loggedin_name}}</textarea>
			</label>
			<label class="item item-input"> <span class="input-label">Phone</span>
				<textarea placeholder="" readonly> {{" "+loggedin_phone}}</textarea>
			</label>
			<label class="item item-input"> <span class="input-label">Address</span>
				<textarea placeholder="" readonly> {{" "+loggedin_address}}</textarea>
			</label>
			<!--
			<label class="item item-input">
				<span class="input-label">Pincode</span>
				<textarea placeholder="" readonly > {{" "+loggedin_pincode}}</textarea>
			</label>
			-->
			<a href="#/page12" class="button button-light button-block icon-left ion-edit">Suggestions and Feedback</a>
			<button ng-click="logout()" class="button button-balanced button-block icon-left ion-log-out">Logout</button>
		</ion-list>
	</ion-content>
</ion-view>